/*Body option*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*Header option*/
header{
  background-color: #00c3ff;
  width: 100%;
  height: 10%;
  margin: 0px;
  padding: 0px;
  min-height: 100px;
  float: inline-start;
}

.header-container{
  width: 10%;
  height: 100%;
  min-height: 100px;
  /*background-color: #f44336;*/
  float: right;
}

.avatar-site{
  width: 50px;
  height: 50px;
  position: relative;
  top: 3px;
  left: 78px;
}

.header-logo{
  width: 90%;
  height: 100%;
  min-height: 100px;
  /*background-color: aqua;*/
  float: left;
}

/*Navigation option*/
nav{
  /*background-color: #61d6d0;*/
  background-color: #8ecaff;
  width: 50px;
  height: 80%;
  min-height: 542px;
  margin: 0px;
  padding: 0px;
  float: left;
}

/*Content field option*/
main{
  background-color: #8ecaff;
  width: calc(100% - 90px);
  height: 80%;
  min-height: 502px;
  margin: 0px;
  padding: 20px;
  float: left;
}

/*Footer option*/
footer{
  background-color: #00c3ff;
  height: 10%;
  width: 100%;
  min-height: 100px;
  margin: 0px;
  padding: 0px;
  float: left;
  text-align: center;
}

/*link options*/
a{
  text-decoration: none; /* Remove underline */
  color: #000000; /* Change link color to red (#FF0000) */
}

a:hover{
  text-decoration: none; /* Remove underline */
  color: #000000; /* Change link color to red (#FF0000) */
}

a:visited{
  text-decoration: none; /* Remove underline */
  color: #000000; /* Change link color to red (#FF0000) */
}

/* Full-width input fields on login screen */
#Username,#Passwd{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button{
background-color: #5a5a5a;
color: white;
padding: 12px 18px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
top: 48px;
position: fixed;
right: 2px;
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 12px;
}

.login-button-submit {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 10%;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
border-color: #000;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 20%;
border-radius: 50%;
}

.container-login {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
border-radius: 50px;
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
}

/*Sliding menu*/
.container-menu {
  display: block;
  width: 320px;
  height: 182px;
  margin: 0px;
  padding: 0px;
  background: #4C6370;
  overflow: hidden;
  width: 10%;
  height: 90%;
  min-height: 50px;
  min-width: 242px;
  
}

section {
  display: inline-block;
  width: 100%;
}

.checkbox-container {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  background: #182825;
}

.checkbox-trigger {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  cursor: pointer;
  z-index: 5;
}

.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
  display: block;
  position: absolute;
  background: white;
  width: 40px;
  height: 4px;
  margin: 1.3em 3em;
  transition: background 0.3s;
}

.hamburger-menu::before, .hamburger-menu::after {
  content: '';
  position: absolute;
  margin: -0.7em 0 0;
  transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
}

.hamburger-menu::after {
  margin-top: 0.7em; 
}

.hamburger-menu {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 1.45em;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-bottom: 1.45em;
  transition: width 0.3s ease;
}

.checkbox-trigger:checked {
  left: 202px;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu {
  width: 2em;
  
  transition: width 0.7s ease 0.7s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
  width: 1.2em;
  transform: rotate(-35deg);
  margin-top: -0.4em;
}  

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
  width: 1.2em;
  transform: rotate(35deg);
  margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
  width: 200px;
  height: 300px; /*height of displaying text*/
  transition: width 0.7s ease 0.3s, height 0.3s ease;
}

.menu-content {
  display: flex;
  background: #182825;
  color: white;
  float: left;
}

.menu-content ul {
  display: block;
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease 0.7s, width 0.7s ease;
}

.menu-content ul li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: color 0.5s, background 0.5s;
  text-align: center;
}

.menu-content ul li:hover {
  color: #0CD6AD;
  background: #1E332F;
}

.link-menu{
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Change link color to red (#FF0000) */
}

.link-menu:hover{
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Change link color to red (#FF0000) */
}

.link-menu:visited{
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Change link color to red (#FF0000) */
}